@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* shared styles */
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  font-family: "Inter", sans-serif;
}
.text-content{
  width: 852px;
  height: 52px;
  color: rgb(13, 19, 33);
  text-align: center;
  font-size: 16px;
  opacity: 0.7;
}


/* Header banner section */
.banner-section-container {
  max-width: 1440px;
  height: 652px;
  background-image: url(../assets/Hero-bg.png);
}
/* banner container */
.banner-container{
  width: 998px;
  height: 582px;
  margin:26px 221px 44px 221px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  

}
.banner-container img{
  width: 240.28px;
  height: 240px;
}
.banner-text-container{
  width: 998px;
  height: 212px;
}
.banner-text-container h1{
  text-align: center;
  width: 998px;
  height: 136px;
  margin: 24px 0px;
  font-size: 48px;
  color: rgb(13, 19, 33);
  font-weight: 800;
}
.banner-container button{
  width: 208px;
  height: 66px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  
}